<div class="container">
  <div class="row">
     <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpg', fallback:'noimage.jpeg',size:'100x100' %>
       <table>
        <tbody>
         <tr>
           <th>name</th><th><%= user.name %></th>
         </tr>
         <tr>
         <th>introduction</th><th><%= user.introduction %></th>
         </tr>
         </tbody>
        </table>
        <div class="container">
        　<div class="row">
      <%= link_to (edit_user_path(user.id)) do %>
        <button type="button" class="col-xs-3 btn btn-default" type="submit"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
       <% end %>
      　</div>
       <h2>New book</h2>
       <% if book.errors.any? %>
       <%= book.errors.count%>errors 
        <div id="error_explanation">
          <ul>
            <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= form_for(book) do |f|%>
       <h3>Title</h3>
       <%= f.text_field :title %>
       <h3>Opinion</h3>
       <%= f.text_field :body %><br>
       <%= f.submit 'Create Book', calss:"btn btn-primary col-xs-3" %>
       <% end %>
     </div>
  </div>
</div>