<% if flash[:notice] %>
<div class="flash">
  <%= flash[:notice] %>
</div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
    	<%= render 'users/template', user: @book.user, book: @book, books: @books %>
    </div>
    <div class="col-xs-9">
     <h2>Book detail</h2>
       <table class="table">
       	<tbody>
       		<tr>
       			<td><%= link_to (user_path(@book.user.id)) do %>
              <%= @book.user.name %>
              <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format:'jpg', fallback:'noimage.jpeg',size:'40x40' %>
       			<% end %>
            </td>
       			<td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if @book.user.id == current_user.id %>
            <td>
              <%=link_to "Edit", edit_book_path(@book.id), class: 'btn btn-info' %> 
            </td>
            <td>
              <button type="button" class="btn-sm btn-danger"><%=link_to "Destroy",book_path(@book.id),method: :delete, "data-confim" =>"本当に削除しますか？"%></button>
            </td>
            <% end %>
       		  </tr>
       	</tbody>
       </table>
      </div>
    </div>
  </div>
</div>
